figure.booted_eagle img {
  width: 50%;
  height: 50%;
}

figure.eagles_together img {
  width: 50%;
  height: 50%;
}

section.test {
  display: block;
}

table#tablespec1 {
    border: 1px solid #606060;
    padding: 0.5rem;
    border-spacing:0px;
    margin-left: auto;
    margin-right: auto;
}

table#tablespec2 {
    border: 1px solid #606060;
    padding: 0.5rem;
    border-spacing:0px;
    margin-left: auto;
    margin-right: auto;
}

table#tablespec3 {
    border: 1px solid #606060;
    padding: 0.5rem;
    border-spacing:0px;
    margin-left: auto;
    margin-right: auto;
}

p{
  text-align: justify;
  text-indent: 50px;
}

th{
  background-color: #aaaaaa;
}


